<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com"
                   matchAll="true"/>
       <serverUrl url="https://rtca.cnr.ncsu.edu:6443/arcgis/rest/services/RTCA/RTCA_Project/FeatureServer"
                             username="siteadmin"
                             password="ArcGIS2017!"
                             matchAll="true"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
